CLIENT_MODE=development

GOOGLE_CLIENT_ID=<Google client Id extracted from google console>

NEXT_PUBLIC_AUTH_SERVICE=
NEXT_PUBLIC_ACCOUNT_SERVICE=
NEXT_PUBLIC_USER_SERVICE=
NEXT_PUBLIC_TRANSACTION_SERVICE=