@import "tailwindcss";

:root {
  --background: #e6edf7;
  --foreground: #171717;
}

/* Moved custom properties to :root for compatibility */
/* --color-background: var(--background); */
:root {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242a38;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*removing the up-dpwn arrow on number input*/
no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}
